In [1]:
import pandas as pd
import numpy as np

In [2]:
productData = pd.read_csv('product.csv')

In [4]:
productData.head(1)

,id,prices.amountMax,prices.amountMin,prices.availability,prices.condition,prices.currency,prices.dateSeen,prices.isSale,prices.merchant,prices.shipping,...,name,primaryCategories,sourceURLs,upc,weight,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,AVphzgbJLJeJML43fA0o,104.99,104.99,Yes,New,USD,"2017-03-30T06:00:00Z,2017-03-10T22:00:00Z,2017...",False,Bestbuy.com,NaN,...,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...,Electronics,https://www.amazon.com/Sanus-VLF410B1-10-Inch-...,7.94E+11,32.8 pounds,NaN,NaN,NaN,NaN,NaN

In [12]:
len(productData['name'].unique())

828

In [5]:
df = productData.filter(['id', 'prices.amountMax','prices.amountMin'])

In [7]:
df.head()

                     id  prices.amountMax  prices.amountMin
0  AVphzgbJLJeJML43fA0o            104.99            104.99
1  AVpgMuGwLJeJML43KY_c             69.00             64.99
2  AVpgMuGwLJeJML43KY_c             69.00             69.00
3  AVpgMuGwLJeJML43KY_c             69.99             69.99
4  AVpgMuGwLJeJML43KY_c             66.99             66.99